*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #636363;
    position: absolute;
}

.container{
    width: 95%;
    padding: 80px 0px;
    margin: auto;
    display: flex;
    align-items: center;
}

button{
    padding: 23px 35px;
    font-size: 18px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: white;
    border-radius: 40px;
    border: none;
    transition: all .5s;
    cursor: pointer;
}

button:hover{
    background-position: right center;}

.content h5{
        font-weight: 600;
        font-size: 25px;
        margin-bottom: 20px;
        color: #f55f8d;
    }
.content h1{
        font-size: 75px;
        line-height: 1.1;
        font-weight: 800;
        color: #262626;
        margin-bottom: 20px;
    }
.content .p1{
        font-size: 22px;
        margin-bottom: 20px;
    }

/* start header */
header{
    position: absolute;
    top: -20px;
    width: 100%;
    z-index: 3;
}
header .logo{
    flex: 1 0 20%;
}
header .logo img{
    width: 200px;
}

header .list .list_item{
    display: flex;
    justify-content: space-evenly;

}
header .list li{
    list-style: none;
    margin-right: 40px;
}

header .list .list_item a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: 0.3s;
}
header .list .list_item a i{
    font-size: 6px;
    margin-left: 3px;
    font-size: 10px;
}

header .list .list_item a:hover{
    color: #F56887;
}

header .list .list_item a span{
    display: inline-block;
    transition: 0.3s;
}
header .list .list_item a:hover span{
    animation: upToDown 0.3s;
}

@keyframes upToDown {
    49% {
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
        transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}

/* end header */

/* start FREELANCE PRODUCT*/
.freeclance{
    background-image: url('./image/Samar/pic2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 120vh;
    background-position: top;
    padding-top: 180px;
    position: relative;
    top: -40px;
    overflow: hidden;
}

.freeclance .content .p2{
    font-size: 25px;
    margin-bottom: 20px;   
    display: flex;   
}
.freeclance .content .p2 i{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background-image:linear-gradient(to right,#f55f8d ,#f8ae56);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 15px;
}
.freeclance .content button{
    margin-top: 20px;
    display: block;
}

.freeclance .img{
    position: relative;
    left: 140px;
}
/* end FREELANCE PRODUCT */

/* start DIGITAL SERVICE */
.service{
    background-image: url('./image/Samar/bg2.png');
    background-size: full;
    background-position: top center;
    background-repeat: no-repeat;
}
.service .container{
    display: block;
    text-align: center;
}
.service .list{
    margin-top: 50px;
}
.service .list_item{
    display: flex;
    justify-content: space-between;
}

.service .list .list_item li{
    list-style: none;
    border-radius: 10px;
    padding: 30px 50px;
    width: 31.5%;
    transition: all 0.5s;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.service .list .list_item li img{
    width: 250px;
}
.service .list .list_item h3{
    font-size: 25px;
    color: black;
    margin: 15px 0px;
}
.service .list .list_item p{
    font-size: 18px;
}

.service .list .list_item li:hover{
    transform: translateY(-30px);
}
/* end DIGITAL SERVICE */

/* start ABOUT US */
.website{
    background-image: url('./image/Samar/bg15.png');
    background-size: 100%;
    background-position:  center right;
    background-repeat: no-repeat;
    overflow: hidden;
}
.website .img{
    width: 50%;
}
.website .img img{
    width: 120%;
    position: relative;
    left: -230px;
    top: 20px;
    border-radius: 120px;
}
.website .content{
    width: 50%;
}
.website .content .p1{
    font-size: 18px;
}
.website .content .p2{
    font-size: 18px;
    display: flex;
    align-items: center;
}
.website .content .p2 i{
    margin-right: 10px;
    color: #f55f8d;
    font-size: 27px;
    font-weight: 400;
}
.website .content button{
    margin-top: 40px;
}
/* END ABOUT US */

/* start NUMBER */
.number .number_list{
    display: flex;
    justify-content: space-around;
}
.number .number_item{
    color: white;
}
.number .number_item i{
    border: 2px solid transparent;
    background-image: linear-gradient(to right,#f55f8d ,#f8ae56);
}
.number .number_item{

}
.number .number_item{

}
/* end NUMBER*/
